[submodule "cmake-modules"]
	path = cmake/modules
	url = ../../BoostCMake/cmake_modules.git
[submodule "zkllvm-assigner"]
	path = libs/assigner
	url = ../../GeniusVentures/zkllvm-assigner.git
[submodule "zkllvm-circifier"]
	path = libs/circifier
	url = ../../GeniusVentures/zkllvm-circifier.git
[submodule "zkllvm-blueprint"]
	path = libs/blueprint
	url = ../../GeniusVentures/zkllvm-blueprint.git
[submodule "libs/stdlib"]
	path = libs/stdlib
	url = ../../GeniusVentures/zkllvm-stdlib.git
[submodule "libs/transpiler"]
	path = libs/transpiler
	url = ../../NilFoundation/zkllvm-transpiler.git
[submodule "libs/crypto3"]
	path = libs/crypto3
	url = ../../GeniusVentures/crypto3.git
[submodule "build"]
	path = build
	url = ../../GeniusVentures/cmaketemplate.git
